.navbar-form navbar-left
{
    float: right;
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.imagem-menu{
border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
}
.imagem-usuario
{
    padding-left: 90%;
}
.imagem-brand
{
    padding: 0;
    margin: 0;
}
.dropdown-menu-personalizado
{
    width: 20%;
    background-color: aliceblue;
    padding-left: 80%;
    float: right;
}
