.jumbotron
{
    background-image: url("http://www.planwallpaper.com/static/images/colorful-triangles-background_yB0qTG6.jpg");
}
.container h4
{
    margin-top: 20%;
}
.imagem-menu{
border-radius:50%;
-moz-border-radius:50%;
-webkit-border-radius:50%;
}
.itens_menu
{
    position: absolute;
    color:white;
    font-size: 20pt;
}
