.tabs {
    width:100%;
    display:inline-block;
}
 
 .tab-links{
    display: inline-flex;
margin-left: 30%;
margin-top: 20px;
 }
    /*----- Tab Links -----*/
    /* Clearfix */
    
 
    .tab-links li {
        margin:0px 5px;
        float:left;
        list-style:none;
    }
 
        .tab-links a {
            padding:9px 15px;
            display:inline-block;
            border-radius:3px 3px 0px 0px;
            background:#E6E6E6;
            font-size:16px;
            font-weight:600;
            color:#4c4c4c;
            transition:all linear 0.15s;
            position:none;
            cursor: pointer;
        }
 
        .tab-links a:hover {
            background:#a7cce5;
            text-decoration:none;
        }
 
    #menu1.active a, #menu1.active a:hover {
          color: #0272be;
    border: 3px solid #0272be;
    border-left: none;
    border-top: none;
    border-right: none;
    }
 
    /*----- Content of Tabs -----*/
  

        .tab {
            display:none;
        }
 
        .tab.active {
            display:block;
        }