@font-face {
font-family: SansKritHelvetica;
src: url("http://localhost/www/fonts/Sanskrit Helvetica.ttf");
font-family: SansKritHelveticaBold;
src: url("http://localhost/www/fonts/SansKrit Helvetica Bold.ttf");
}
h1, #nav-bar-titulo, #caixa_busca, #tab1, #tab2
{
	font-family: Helvetica, SansKritHelvetica, Arial, Sans-serif;
}
h2, h4
{
	font-family: Helvetica Light Oblique, Arial Light, Sans-serif;
}