 .session .dropdown-menu, .global-nav .pull-right .dropdown-menu, .global-nav .secondary-nav .dropdown-menu {
    margin: 9px -7px 0 0;
}

.session .dropdown-menu, .global-nav .pull-right .dropdown-menu, .global-nav .secondary-nav .dropdown-menu {
    right: 0;
    }

.dropdown-menu, .dropdown-menu .signin label {
    width: auto;
}

.session .dropdown-menu .dropdown-caret {
    left: auto;
    right: 30px;
}

 .dropdown-menu{   
    position: absolute;
    top: 100%;
    z-index: 900;
    display: none;
    float: left;
    padding: 10px 0;
    margin: 2px 0px 0px -5px;
    background: #fff;
    background-color: rgba(255,255,255,0.98);
    border: 1px solid #e1e8ed;
    border: 0 solid rgba(0,0,0,0.25);
    border-radius: 4px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
    background-clip: padding-box;
}

.dropdown-menu .dropdown-caret {
    position: absolute;
    top: -10px;
    left: 12px;
    width: 18px;
    height: 10px;
    float: left;
    overflow: hidden;
    }

    .dropdown-caret .caret-outer {
    border-bottom: 10px solid #FFFCFC;
    border-bottom-color: #FFF;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    height: auto;
    left: 0;
    top: 0;
    width: auto;
}

.dropdown-caret .caret-outer, .dropdown-caret .caret-inner {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    margin-left: -1px;
}

.dropdown-menu li {
    display: block;
    float: none;
    line-height: 0\9;
    line-height: inherit;
}

ul{
        margin: 0;
    list-style: none;
    padding: 0;
}

li{
    text-align: inherit;
}

 li a {
    position: relative;
    font-size: 12px;
}


.dropdown-menu li>a, .dropdown-menu .dropdown-link {
    clear: both;
    color: #66757f;
    cursor: pointer;
    display: block;
    font-size: 13px;
    font-weight: normal;
    float: none;
    line-height: 18px;
    margin: 0;
    padding: 5px 20px;
    position: relative;
    text-shadow: none;
    white-space: nowrap;
}

.dropdown-menu li>a:hover, .dropdown-menu li>a:focus, .dropdown-menu .dropdown-link:hover, .dropdown-menu .dropdown-link:focus, .dropdown-menu .dropdown-link.is-focused, .dropdown-menu li:hover .dropdown-link, .dropdown-menu li:focus .dropdown-link, .dropdown-menu .typeahead-recent-search-item.selected, .dropdown-menu .typeahead-saved-search-item.selected, .dropdown-menu .selected a, .dropdown-menu .dropdown-link.selected {
    color: #fff;
    background: #3b88c3;
    text-decoration: none;
}

.img-menu .dropdown-menu li:hover{
    display:inline-block;
}

a, a:hover, a:focus, a:active {
    color: #009999;
}

li:hover,li:focus{
    color: #009999;
}

li{
    width:100%;
}

li a{
    text-decoration:none;
}
#divisao a
{
    cursor: pointer;
}