/*página de login*/
#login_span{
	font-family:'Helvetica Neue',Helvetica,Arial,sans-serif;
	padding-bottom: 20px;
	font-size: 18px;
	font-weight: bolder;
}
#login_sect{
	margin:80px 20px 0px 60% ;
}
#art_inicio {
	padding-right: 40px;
  	border-right: 1px solid #fff;
}
.btn_login{
	background-image: linear-gradient(to bottom, #39B54A 0px, #39B54A 100%);
    border:medium none;
    border-color:#39B54A ;
    border-radius:2px;
    width:50%;
    margin-top: -10px;
    padding: 5px;
    margin-left: 0px;
    color: white;
    font-size: 16px;
}

.btn_login:hover , .btn_login:active:focus,.btn_login:focus,.btn_login:hover{
	background-color: #39B54A;
	border-color: #39B54A;
}

/*botão registro*/
#registro{
	margin-top: 20px;
}
.btn-registro{
	background-image:linear-gradient(to bottom,#0071BC 0px, #0071BC 100px);
	border:medium none;
	border-color: #0071BC;
	border-radius:2px;
	width: 50%;
	height:35px;
	color:white;
    font-size:16px;
}



.btn-registro:hover , .btn-registro:active{
	background-color:#0071BC;
}

/*Página de Cadastro*/
.form-cad{	
	width:50%;

}

.form-cad-but{
	width:120px;
	margin-left: 20%;
}
#conjunto_form_login
{
	margin-right: 52%;
	margin-left: -2%;
}
#conjunto_form_login>span
{
	padding-left: 4%;
	font-size: 18px;
}
article
{
	float: left;
	text-align: center;
	margin-left: 20%;
	color: white;
}
#texto1
{
	padding-top: 10px;
}
section
{
	color: white;
}
#ver_trabalhos
{
	margin-top: 4%;
	background-image: initial;
    color: black;
    font-weight: bold;;
}

#ver_trabalhos:hover{
   background-color: white;
   border-color: #39B54A;
}

body
{
	background-image: url('../background.jpg');
	background-size: 100%;
}

#content_cadastro{
  margin-top:60px;
  margin-left:50px;
  color:white;
}

.label-cad{
  display:inline-block;
  width:150px;
  margin-top:20px;
}

#content_cadastro input{
	margin-top:20px;
	clear:both;
	width:40%;
	height:25px;
	font-size:14px;
	color:#555;
    padding-left:10px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
   -webkit-transition : border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
   -moz-transition :  border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
   -o-transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;

}

#content_cadastro input:focus{
border-color:1px solid blue;
}

#content_cadastro #cadastrar{
	width:20%;
	text-align: center;
	margin-left:12.9%;
}

.error{
	display:inline;
	font-weight: bold;
}

#usuario,#senha,.btn_login,.btn-registro{
	width:250px;
	border-radius: 0px;
	margin-top: 5px;
}
.alert
{
	width: 50% !important;
}