/*html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,hr,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figure,figcaption,hgroup,menu,footer,header,main,nav,section,summary,time,mark,audio,video {
	margin:0;
	padding:0;
	border:0
}
*/

html{
	
}

body{
	font-family: "Helvetica","sans-serif";
	margin:0;
	padding:0;
	border:0;
		background-color:rgb(230,230,230);
}

/*#dropdown
{
	background-color: #29ABE2;
	margin-left: 80%;
	margin-right: 2%;
	list-style: none;
	float: right;
	border-radius: 5px;
}
#dropdown a
{
	color: white;
}
#dropdown li
{
	padding-right: 30px;

}*/

.btn-registro{
	background-image:linear-gradient(to bottom,#0071BC 0px, #0071BC 100px);
	border:medium none;
	border-color: #0071BC;
	border-radius:2px;
	width: 50%;
	height:35px;
	color:white;
    font-size:16px;
}

.btn_login,.btn-registro{
	width:250px;

}

#login_botao{
		
    margin-top: 15px;
}
/*Menu Superior*/
.nav-bar{
	background-image:linear-gradient(to bottom,#29ABE2 0px,#29ABE2 100%);
	text-decoration-color:white;
	border:0px;
	border-radius: 0px;
	height:30px;
	width:100%;
	text-align: left;
	
}

.nav-bar a {
	color:white;
	text-decoration: -moz-none;
}

.nav-bar ol{
  list-style-type: none;
  padding-top:5px;

}

.nav-bar li{
	display:inline;
	text-decoration: none;
}
/*Página de Cadastro*/
#login_usuario{
	margin-bottom: 20px;
}

#login_usuario input[type=text]{
	border:2px solid #A7A7A7;
	border-radius: 2px;
	height:20px;
}

#login_senha label{
	margin-right:10px;
}

#login_senha input[type=password]{
	border:2px solid #A7A7A7;
	border-radius: 2px;
	height:20px;
}

/*Recuperar*/
#recuperar{
	width:50%;
}

.rec_btn{
	width:40%;
	background-image:linear-gradient(to bottom,#39B54A 0px,#39B54A 100%);
	margin-left: 30%;
	margin-top: 20px;
	border-radius:1px;
	-moz-border-radius:1px;
	-webkit-border-radius:1px;
}

 .rec_btn:hover, .rec_btn:active:focus{
 	background-color:#39B54A;
 }

 /*Perfil*/
 .nav-bar-perf{
 	background-image:linear-gradient(to bottom,#09747E 0px,#09747E  100%);
 	backface-visibility: hidden;
 	border-radius: 0px;
 	-moz-border-radius:0px;
 	position:fixed;
 	border:medium none;
    margin-top:-10px;
    width:100%;
    height:55px;
    border-bottom: 1px solid rgba(227, 52, 52, 0.1);
   z-index: 9999;
   clear:both;
 }


 .search-form{
   margin-top: 10px;
   margin-left: 150px;
   border:none;
   width:800px;
   clear:both;
 }

 .img-menu{

 	margin-right:100px;
 	float:right;
 	width: 30px;
    height: 30px;
}

 .img-usuario{
 
 	*float:right; 
 	list-style-type: none;
   margin-left: -10%;
   list-style-type: none;
 }

 .img-usuario >a{
 	display: inline-table;
    color: #FFF;
   font-weight: 600;
 }

#nome_usuario{
 	display: inline-block;
    margin-top: 10px;
   font-size: 14px;
   font-weight: 600;
   color:white;
   margin-left:3px;
 }

 .form-control{
 	margin-bottom: 10px;
 	margin-left:10px;
 	line-height: 1.42857;
 	border-radius:3px;
 	display:inline-block;
 	background-color:#fff;
 	border:1px solid #ccc;
 }

 section #alterar_cadastro label{
 	margin-right:10px;
 	clear: left;
 	text-align:left;
 	width:130px;

 }

#alterar_cadastro{
	padding: 16px;
}

.form-control-pollux{
	border-radius: 6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
}


.form-group{
	margin-top: -43px;
    margin-left: 16%;
    clear:right;
}

.form-group input[type=text]{
	height:20px;
	font-size:16px;
	width: 500px;
    margin-left: 60px;
    border:none !important;
}

.imagem-menu{
border-radius:4px;
-moz-border-radius:4px;
-webkit-border-radius:4px;
float:left;
}

.icone{
  position:relative;
}

.icone .glyphicon{
	left:-30px;
	right:0px;
}

.glyphicon{
	color:#989898;
}

/*Div Principal*/
#conteudo{
	margin-left: 25%;
}

.pencil{
	margin-top:8px;
	color: white;
	font-size:20px;
   float:left;
}

.btn-pencil{
	color:#29ABE2;
	background-image:linear-gradient(to bottom,#29ABE2 0px,#29ABE2 100%);
    border:none;
    border-radius:0px;
    box-shadow: none;
}
.btn-pencil:focus , .btn-pencil:hover{
	color:#29ABE2;
	background-color:#29ABE2;
}


#conteudo{
  	float:left;
  	margin-left:10%;
  	padding-top:5%;
 }

#art_inicio{
	margin-top:-100px;

}

#login_sect{
	margin-top:200px;

}

  #conteudo{
  	float:left;
  	margin-left:10%;
  }

.post
{
	width: 256px;
	height: 256px;
}
.post_image
{
	width: 256px;
	height: 220px;
	background-image: url("http://placehold.it/256x250");
}
.post_data
{
	width: 256px;
	height: 36px;
}
.post_data:nth-child(2)
{
	margin-left: 35%;
}

#titulo{
	font-weight: bold;
	font-size:80px;
}

#nav-bar-titulo{
	color:white;
	font-size: 25px;
	margin-left: 8%;
margin-top: 20px;
}

#buscar{
	margin-top: 15px;
*padding-top: 5px;
}

/*Menu Dropdown

nav ul li{
	margin-top:-20px;
	display: inline-block;
	float: left;
	background-color: #09747E;
	position: relative;
	list-style-type: none;
	text-decoration: none;
	margin-left:-50px;
}

*/
nav ul ul{
	display: none;
	position: absolute;
	top:100%;
	margin-top:20px;
	margin-top: 31px;
     margin-left: 20px;
     border-radius: 3px;
    box-shadow: 0 1px 4px rgba(0,0,0,0.25);
}

nav ul li:hover> ul{
	display: inherit;
	vertical-align: baseline;
	background-color: #035e67;
}

nav ul ul li{
	min-width:100px;
	padding:20px 0px 20px 0px;
	
	display: list-item;
	position: relative;
}


nav ul ul li:hover{
	background-color: #035e67;
}
/*
nav a{
	display:inline-block;
	color:white;
	font-size:14px;
	text-decoration: none;
}

nav a:hover{
	background-color: #035e67;
}
*/
.imagem-menu {
	*width:35px;
	*height:35px;
}

/*Alterar Perfil*/
.page-header{
	margin-left:5%;
	padding-top: 3%;
}

#alterar_cadastro{
	margin-left:5%;
}

#alterar_cadastro label{
	width:140px;
	display: inline-block;
}


#alterar_cadastro .campo_cadastro{
	display: inline-block;
	margin-bottom: 10px;
    margin-left: 10px;
    line-height: 1.42857;
    border-radius: 3px;
    display: inline-block;
    background-color: #FFF;
    border: 1px solid #CCC;
    margin-top: 20px;
    clear: both;
    width: 40%;
    height: 25px;
    font-size: 14px;
    color: #555;
    padding-left: 10px;
    transition: border-color 0.15s ease-in-out 0s, box-shadow 0.15s ease-in-out 0s;
}

#foto_perfil{
	margin-top:20px;
}

#alterar_cadastro_botao{

}

.img-menu{
	*border:2px solid orange;
	width:30px;
	height:30px;
}

#img_usuario{
position: inherit;

float: right;
*border: 2px solid #008000;
width: 150px;
height: 30px;

}

.img_drop{
 position: absolute;
margin-top: 5px;
margin-left: 6px;

}

#img_drop{
 position: absolute;
margin-top: 5px;
margin-left: 5px;

}
#luz{
float: right;
*border: 2px solid #FF0;
width: 30px;
height: 30px;

}


#sino{
	position: relative;
float: right;
*border: 2px solid #00F;
width: 30px;
height: 30px;

}

#lapis{
	position: relative;
float: right;
*border: 2px solid #000;
width: 30px;
height: 30px;

}

.icones{
display: inline-flex;
float: right;
margin-top: -37px;
margin-right: 9%;
clear:left;
}

#menu-areas{
	
	float:right;
	margin-right: 80px;
	clear:left;
}


.a_titulo{
	font-size: 25px;
	font-weight: bold;
	text-decoration: none;
color: white;
}

/*#categoria_img{
	margin-left:-110px;

}

#categoria_img img{
	margin-top:8px;
}*/

#dropdown-categorias{
    display:none;
	position: absolute;
   list-style: outside none none;
   background-color: white;
   width: 100%;
   margin-top: 3.4%;
   height: 130px;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.16), 0px 2px 10px 0px rgba(0, 0, 0, 0.12) !important;
  z-index:999;
}

#categoria_span{
position: absolute;
font-color:#828282;
margin-left: -33px;
}

#divisao{
	margin-left:15%;
	margin-top: 2px;
}
#div1{
  position: absolute;
  margin-top: 10px;
line-height: 2;

}


#div2{
  position: absolute;
  margin-left: 15%;
    margin-top:30px;
  margin-top: 10px;
line-height: 2;

}

#div3{
	position: absolute;
	margin-left:30%;
    margin-top:30px;
    margin-top: 10px;
   line-height: 2;

}


#dropdown-categorias div div a{
	color:#747474;
}

#categoria_titulo{
	font-size:22px;
	color: #494949;
}

#profile{
	background-color: white;
	border-radius: 6px;
	height:190px;
	width: 1000px;
	display: inline-flex;
	margin-top: 20px;

}

#profile-photo-container{
	margin-left:20px;
	width:20%;

}

#profile-photo-container img{
	margin-top:20px;
	border-radius:13px;
}

#profile .dados{
	margin-top: 30px;
}

#profile-areas{
       margin-left: 150px;
    margin-top: 50px;
    
   
    position: absolute;
        display: inline-block;
    width: 330px;
}

/*#profile-areas>span{
	font-size:20px;
	display:inherit;
}


#profile-areas .area:nth-of-type(1){
	margin-top: 20px;
   *margin-left: -55px;
}
*/


.area {
	margin-top:10px;
	border-radius: 3px;
	background-color: rgb(42, 171, 228);
	text-align:center;
	height:25px;
	display: inline-block;
	clear:right;
	margin-left:10px;
	width:100px;
	cursor: pointer;
	color:white;
	font-style: bold;
}

.area span{
	font-size: 16px;
	color: white;
	display: -moz-grid-group;
	display: -webkit-inline-box;
    margin-top: 4px;
}

#titulo_area{
    float: right;
    margin-left: 150px;
    position: absolute;
    margin-top: 20px;
    font-size: 20px;
    color:#454545;
   
}

#complete-name{
	position: absolute;
	font-size:20px;
	font-weight: 600;
}

#ocupation{
	float: left;
margin-top: 40px;
margin-left: 0%;
position: absolute;


}

a#site{
	color: #47aecd;
text-decoration: none;
margin-top: 70px;
display: inline-block;
}


#personal-areas{
 padding-bottom:20px;
}

#visualizado{
	height:25px;
	width:25px;
	
}

#visualizado a img {
	margin-right: 5px;
}

#favorito{
	height:25px;
	width:25px;
	
}

#favorito a img {
	margin-right: 5px;
}

#comentado{
	height:25px;
	width:25px;
}

#comentado a img {
	margin-right: 5px;
}

#envolvidos{
	height:25px;
	width:25px;

}

#envolvidos a img {
	margin-right: 5px;
}


.icons{

	width:120px;
	height:60px;
    margin-top:2px;
}

.icons span{
   margin-bottom: 5px;
   padding-right:45px;
}
.icons  section{
 display:flex;
}

.icons #visualizado img{
	margin-top:5px;
	font-size:8px;
}

.icons section a{
	display:inline-flex;
	display: -moz-grid-line;
    font-size:12px;

}

#conteudo section #create-post{
  margin-top:20px;
}

/*Karina*/
#following-posts {
	width: 1377px;
	margin: auto;
}

.fllw-post {
	display: inline-block;
	width: 400px;
	height: 430px;
	background-color: #fefefe;
	border-radius: 6px;
	padding: 10px 20px;
	margin: 5px;
}

.fllw-post-project {
	position: relative;
	float: left;
	margin-right: 5px;
	background-color: #0071bc;
	border-radius: 4px;
	color: #fefefe;
	width: 26px;
	height: 22px;
	text-align: center;
	padding: 2px 0px;
	font-weight: bold;
}

.fllw-post-arrow {
	position: relative;
	float: right;
	color: #29abe2;	
	font-weight: bold;
	top: 4px;
	width: 0.46em;
	height: 0.46em;
    border-left: 0.2em solid transparent;
    border-top: 0.2em solid transparent;
    border-right: 0.2em solid #29abe2;
    border-bottom: 0.2em solid #29abe2;
    transform: rotate(45deg);
    cursor: pointer;
}

.fllw-post a {
	color: #29abe2;
	text-decoration: none;
}

.fllw-post-title {
	margin: 0px;
}

.fllw-post-author {
	margin-top: 6px;
	margin-bottom: 10px;
}

.fllw-post-filter {
	margin-top: 6px;
	margin-bottom: 10px;
	display: flex;
}

.fllw-post-img {
	background-color: #888;
	width: 100%;
	height: 300px;
	margin-bottom: 20px;
}

.fllw-post-bar {
	width: 100%;
	display: inline-block;
	margin-top:-10px;
}

.fllw-post-bar .bar-info {
	float: left;
}

.fllw-post-bar .bar-info span {
	margin-right: 20px;
}

.info-comments .bt-lik {
	vertical-align: bottom;
	margin-right: 5px;
}

.info-comments .bt-sel {
	margin-right: 5px;
}

.fllw-post-bar .bar-buttons {
	float: right;
}

.fllw-post-bar .bar-buttons span {
	margin-left: 30px;
	cursor: pointer;
}

.selecionado {
	color: #29abe2;
}

.post-fullscreen {
	font-size: 1.2em;
	width: 95%;
	height: 100%;
}

.post-fullscreen .fllw-post-img {
	min-height: 400px;
}

.post-fullscreen span {
	display: inline-block;
	text-align: center;
}

.post-fullscreen .bar-buttons span {
	cursor: default;
}

.post-comments {
	margin: 20px;

}

.comment-title {
	font-weight: bold;
	margin-bottom: 20px;
}

.post-comments form {
	margin-bottom: 20px;
	vertical-align: top;
}

.post-comments form textarea {
	font-family: "Helvetica","sans-serif";
	font-size: 16px;
	width: 80%;
	height: 47px;
	padding: 15px;
}

.comment-user-avatar {
	width: 80px;
	height: 80px;
	margin-right: 20px;
	border-radius: 50%;
	float: left;
}

.comment-area {
	float: left;
	width: 90%;
}

.comment-area h3 {
	margin-top: 0px;
	margin-bottom: 0px;
}

@media screen and (max-width:700px){
	.nav-bar-perf{
		height:100px;
	}

	.form-group input[type="text"] {
    height: 20px;
    font-size: 16px;
    width: 250px;
    margin-left: 60px;
    border: medium none !important;
}

	.icones{
	  margin-top: 10px;
      position: initial;
      float: left;
      margin-left: 80px;

	}
	
    #profile{
    margin-top: 80px;

}

  
	#profile-areas{
		margin-top: 70px;
	}

}


@media screen and (min-width:701px) and (max-width:720px){
	#nav-bar-titulo{
		margin-left: 3%;
	}
	#profile{
		margin-top:30px;	
}
   .icones{
   	margin-right:-10%;
}

   

    .icones{
    	margin-right: -105px;
    }

    .form-group{
    	margin-left: 12%;
    	    *margin-top: -30px;
    }
    .form-group input[type=text]{
    	margin-left: 25px;
    	width:300px;
    }

    #dropdown-categorias{
    	margin-top: 47px;
    }
}

@media screen and (min-width:740px) and (max-width:800px){
	.icones{
		    margin-right: -10%;
	}

   .form-group {
    *margin-top: -30px;
    margin-left: 16%;
    clear: right;
}


	.form-group input[type=text]{
		width:300px;
		margin-left:0px;
	}

	#nav-bar-titulo{
		margin-left:2%;
	}


	#dropdown-categorias{
		margin-top: 5.7%;
	}
	#drop_config{
		margin-right:;
	}

	#profile{
		margin-top: 20px;
	}

	#div2{
		margin-left:23%;
	}

	#div3{
		margin-left:46%;
	}


}


@media screen and (min-width:801px) and (max-width:899px){
	.icones{
		margin-right: -9%;
	}

	.form-group input[type=text]{
		width:300px;
		margin-left:30px;
	}


}
@media screen and (min-width:900px) and (max-width:960px){
	.form-group input[type=text]{
		width:490px;
		margin-left:10px;
	}
	.icones{
		margin-right:-6%;
	}

	.form-group input[type=text]{
		width:400px;
	}

	#dropdown-categorias{
		margin-top: 45px;
	}


}

@media screen and (min-width:961px) and (max-width:1000px){
.form-group input[type=text]{
		width:490px;
		margin-left:10px;
	}

.icones{
	margin-right: -9%;
}
}


@media screen and (min-width:1001px) and (max-width:1024px){
 .icones{
 	    margin-right: -10%;
 	  }


	#dropdown-categorias{
		margin-top:4.6%;
	}
  .form-group input[type=text]{
  	  margin-left:30px;
  }

  .form-group {
    *margin-top: -30px;

   }

   #profile{
   	width:800px;
   }

}
@media screen and (min-width:1025px) and (max-width:1080px){
	.icones{
		    margin-right: -8%;
	}
	  .form-group input[type=text]{
  	  margin-left:30px;
  }

  #categoria_img1{
  	margin-left:86px;
  }
}

@media screen and (min-width:1100px) and (max-width:1280px){
	.form-group input[type=text]{
		margin-left:30px;
	}


	  .form-group {
    *margin-top: -30px;
  
  
}
}


@media screen and (min-width:1500px) and (max-width:1920px) {
	.form-group input[type=text]{
		margin-left:100px;
		width:700px;
	}

	#dropdown-categorias{

	}	

	#profile{
		width:1500px;
	}


	#titulo_area{
		margin-left:650px;
	}

	#profile-areas{

		margin-left:650px;
	}
	#profile .dados {
	    margin-top: 30px;
	    margin-left: -100px;
	}

	#btn_postar{
		margin-left: 35%;
	}
}

.bar-buttons .btn-selar img:hover{
   background: url("../img/notif_ativ.png");
   content: url("../img/notif_ativ.png");
}


.bar-buttons .btn-favoritar img:hover{
    background: url("../img/like_ativ.png");
    content: url("../img/like_ativ.png");
}

input[type=checkbox].css-checkbox {
							position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
						}

						input[type=checkbox].css-checkbox + label.css-label {
							padding-left:30px;
							height:25px; 
							display:inline-block;
							line-height:25px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:25px;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=checkbox].css-checkbox:checked + label.css-label {
							background-position: 0 -25px;
						}
						label.css-label {
				background-image:url(../img/selar.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}


input[type=checkbox].css-checkbox1 {
							position:absolute; z-index:-1000; left:-1000px; overflow: hidden; clip: rect(0 0 0 0); height:1px; width:1px; margin:-1px; padding:0; border:0;
						}

						input[type=checkbox].css-checkbox1 + label.css-label1 {
							padding-left:30px;
							height:23px; 
							display:inline-block;
							line-height:23px;
							background-repeat:no-repeat;
							background-position: 0 0;
							font-size:23px;
							vertical-align:middle;
							cursor:pointer;

						}

						input[type=checkbox].css-checkbox1:checked + label.css-label1 {
							background-position: 0 -23px;
						}
						label.css-label1 {
				background-image:url(../img/favorito.png);
				-webkit-touch-callout: none;
				-webkit-user-select: none;
				-khtml-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				user-select: none;
			}