@media only screen and (min-device-width:1500px) and (max-device-width:1920px){
   
   .form-group input[type=text]{
    width: 790px;
    float: left;
    margin-left: 1%;
    margin-top: 0px;
  }


  .icones{
  margin-right: 20%;
  margin-top: -5px;
  }

 #categoria_span{
  position: absolute;
margin-left: 0px;
margin-top: 0px;
margin-left: -1.7%;
 }
 #categoria_img {
    margin-left: 0px;
}

#categoria_img img {
    margin-top: 0px;
}
}

@media only screen and (max-device-width:1280px){
  .icones{
   margin-right: 5%;
  }

  #categoria_span{
    float: right;
   position: relative;
   margin-top: -4%;
   margin-right: 20.3%;
  }
#categoria_img {
    margin-left: 0px;
}
  #categoria_img img {
    margin-top: 0px;
}
}

/*Tela 1080 */
@media only screen and (max-device-width: 1080px){
  .form-group input[type=text]{
    width: 400px;
    float: left;
    margin-left: 1%;
    margin-top: 0px;
  }

  .form-control-pollux{
  border-radius: 6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  margin-top: 10px;
}

#art_inicio{
 margin-left:15%;
}


#search-form{
  padding-top: 10px;
margin-left: 400px;
border: medium none;
width: 700px;
margin-top: -10px;
}

#nav_bar_titulo{
  margin-left:-10%;
}

#categoria_span {
    float: right;
    position: relative;
    margin-top: -4%;
    margin-right: 38.9%;
}

.icones{
  margin-right: -1%;
margin-top: -6px;
}

#dropdown-categorias{
  margin-top: 4.1%;
}

}

@media only screen and (max-device-width: 1024px){
 .form-group input[type=text]{
    width: 400px;
    float: left;
    margin-left: 1%;
    margin-top: 0px;
  }
  .icones{
    display: inline-flex;
  float: right;
  margin-top: -8px;
  margin-right: -9.8%;
  }

  #categoria_span{
       margin-left: -2.8%;
    margin-top: 0px;
  }

 } 



/*Tela 1000 */
@media only screen and (max-device-width: 1000px){
  .form-group input[type=text]{
    width: 400px;
    float: left;
    margin-left: 1%;
    margin-top: 0px;
  }

  .form-control-pollux{
  border-radius: 6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  margin-top: 10px;
}

#art_inicio{
 margin-left:10%;
}

#search-form{
  padding-top: 10px;
margin-left: 400px;
border: medium none;
width: 700px;
margin-top: -10px;
}
}

/*Tela 960 */
@media only screen and (max-device-width: 960px){
  .form-group input[type=text]{
width: 400px;
float: left;
margin-left: 8%;
margin-top: 0px;
  }

  .form-control-pollux{
  border-radius: 6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  margin-top: 10px;
}

#art_inicio{
 margin-left:7%;
}

.search-form{
  padding-top: 10px;
margin-left: -0.1%;
border: medium none;
width: 700px;
margin-top: -10px;
}
.icones{
  margin-top: -8px;
}

#profile{
  width:800px;
  margin-top:20px;
}
#categoria_span{
 
    margin-left: -3.5%;
    margin-top: 0px;
    position: absolute;
}
}

/*Tela 860 
@media only screen and (max-device-width: 860px){

}
*/

/*Tela 800 */
@media only screen and (max-device-width: 800px){
   #art_inicio{
  margin-left:20%;
  margin-bottom: 20px;
 }

 #login_sect{
  margin-left:30%;
 }

  .form-group input[type=text]{
    width:300px;
    float:left;
    margin-left: -80px;
    margin-top: 0px;
  }

  .form-control-pollux{
   border-radius: 6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
   margin-top: 5px;
    margin-left: -20px;
}

#nav-bar-titulo{
 margin-left:-14%;
}

.icones{

margin-top: -5px;
   margin-right: -40px;
}

#categoria_span{
margin-top: 0;
margin-left: -3.9%;
}

#dropdown-categorias{
  margin-top: 45px;
}

#div2{
  margin-left: 18%;
}

#div3{
  margin-left: 36%;
}

#profile-areas .area:nth-of-type(1) {
    margin-top: 20px;
    margin-left:10px;

}
.search-form{
  margin-left:14%;
}

#profile{
    width: 800px;
    margin-top: 30px;
}

#profile-areas{
  margin-top:55px;
}

#categoria_span{
  margin-top: 0px;
margin-left: -4.1%;
position: absolute;
}
}

/*Tela 768 */
@media only screen and (device-width: 768px){
  .form-group input[type=text]{
    width:300px;
    float:left;
    margin-left:-12%;
  }

  .form-control-pollux{
  border-radius: 6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  margin-top: 10px;
}
#login_sect{
  margin-left:30%;
 }
.icones{
  margin-right: -13%;
margin-top: -5px;
}
}
/* ----------- iPad 3 and 4 ----------- */
/* Portrait and Landscape */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  
   #art_inicio{
  margin-left:10%;
 }

 #login_sect{
  margin-left:63%;

 }

 #nav-bar-titulo{
  margin-right: -13%;
 }
}




/*Tela 720*/
@media only screen and (max-device-width: 720px){
   .form-group input[type=text]{
    width:200px;
    float:left;
    margin-left:-70px;
  }

 #art_inicio{
  margin-left:20%;
 }

 #login_sect{
  margin-left:32%;

 }
  .form-control input[type=text]{
    width:200px;
    height:300px; 
    float:left;
    margin-left:10%;
  }

  .form-control-pollux{
  border-radius: 6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  margin-top: 10px;
}

.form-group{
  margin-top: -25px;
margin-left: 10%;
}
}


/*Tela 640*/
@media screen and (max-device-width: 640px){
  .form-group input[type=text]{
    width:180px;
    float:left;
 margin-left: 13%;
  }

  .form-control-pollux{
  border-radius: 6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  margin-top: 10px;
}

#art_inicio{
  margin-left:13%;
  margin-top: 30px;
}

#login_sect{
  margin-left: 26%;
}

#tudo{
  margin-top:-30%;
}

#nav-bar-titulo{
  margin-left:-12%;
}
.form-group {
    margin-top: -25px;
    margin-left: -14%;
}


  #categoria_span {
  margin-top: 0;
  margin-left: -5.2%;
  position: absolute;
}

#div2 {
    margin-left: 23%;
}

#div3{
  margin-left:46%;
}
.icones {
    margin-top: -5px;
    margin-right: -16%;
}
#profile{
  width: 600px;
}

.dados{
  margin-left: 6%;
}
}

@media only screen and (min-device-width: 360px) and (max-device-width: 640px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2) {
  #art_inicio{
  margin-left:13%;
}

#login_sect{
  margin-left: 26%;
}

#tudo{
  margin-top:-30%;
}

}
@media screen and (max-width: 540px){
  .form-group input[type=text]{
    width:100px;
    float:left;

    margin-left:10%;
  }

  .form-control-pollux{
  border-radius: 6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  margin-top: 10px;
}

  #conteudo{
    float:left;
    margin-left:10%;
  }
}


/*Tela 480 */
@media screen and (max-width: 480px){
  .form-group input[type=text]{
    width:100px;
    float:left;

    margin-left:10%;
  }

  .form-control-pollux{
  border-radius: 6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;
  margin-top: 10px;
}

  #conteudo{
    float:left;
    margin-left:10%;
  }
}
/*Tela 360 */
@media screen and (max-width: 360px){
  .form-group input[type=text]{
    width:80px;
    float:left;
    margin-left:10%;
  }

  .form-control-pollux{
  border-radius: 6px;
  -moz-border-radius:6px;
  -webkit-border-radius:6px;

}
}
#registro
{
  width: 250px;
}