#users
{
	background-color: white;
	border-radius: 6px;
	width: 78% !important;
	line-height: 40px;
	text-indent: 20px;
}

.potencialFriend {
	line-height: 50px;
}

.btFollow
{
	border: none;
	background-image: url("../images/seguir.svg"); 
	width:135px;
	height:30px;
	border-radius: 5px;
	cursor: pointer;
	vertical-align: middle;
}